apiVersion: 1

datasources:
  - name: SystemMetrics
    uid: SystemMetrics
    type: postgres
    access: proxy
    url: db:5432
    user: monitor
    database: monitor
    isDefault: true
    editable: false
    jsonData:
      sslmode: disable
    secureJsonData:
      password: monitor
